$darkColor : #444444;
$inactiveColor : #777777;
$highlightColor : #4789e9;

@mixin square{

  border:1px solid #ddd;
  float:left;
  line-height: 0;
}

body{
  background-color:$darkColor;
}

#headerDiv{
  margin-top:15px;
  color:#fff;
}

.paddingLeft{
  padding-left:20px;
}

.marginLeft{
  margin-left:20px;
}
.displayText{
  color:#fff;
  margin-bottom:10px;
  margin-top:10px;
  font-size:14pt;
  font-weight:bold;
}

.text-info, .text-info a{
  color:#fff;
  margin-bottom:10px;
}



.livingSquare{
    @include square;
    background-color:$highlightColor;
}

.deadSquare{
  @include square;
  background-color:$inactiveColor;
}

.endRow{
  clear:both;

}

.contWidth{
  width:500px;
  height:500px;
}
